#pragma once
#include <HTTPClient.h>
#include <esp_system.h>
#include <Arduino.h>

const char *ssid = "MY_SSID";
const char *password = "MY_WIFI_PASSWORD";
const char *hostname = "MY_ESP32_HOSTNAME";
const int32_t channel = 6;  

const char *otaUsername = "OTA_USERNAME";
const char *otaPassword = "OTA_PASSWORD";

const char *NTP_SERVER1 = "ntp1.sp.se";
const char *NTP_SERVER2 = "ntp2.sp.se";
const char *NTP_SERVER3 = "pool.ntp.org";
const char *TIME_ZONE = "CET-1CEST-2,M3.5.0/02:00:00,M10.5.0/03:00:00";
const int NTP_SYNC_INTERVAL = 6;   // hours

// IPAddress for DNS servers
IPAddress primaryDNS(8,8,8,8);
IPAddress secondaryDNS(9,9,9,9);

#define INFLUXDB_URL "http://INFLUX_IP:8086" 
#define INFLUXDB_TOKEN "INFLUX_TOKEN"
#define INFLUXDB_ORG "INFLUX_ORG"
#define INFLUXDB_LOG_BUCKET "INFLUX_LOG_BUCKET"

// MQTT
const char *MQTT_HOST = "MQTT_HOSTNAME"; 
const char *MQTT_USER = "MQTT_USERNAME"; 
const char *MQTT_PASS = "MQTT_PASSWORD";

// MQTT topics
const char *camera_command_topic = "home/security/cameras/command";
const char *camera_state_topic = "home/security/cameras/state";


const int INV_OFF_VOLTAGE = 11000; // mV
const int INV_ON_VOLTAGE = 13000;  // mV
const int INV_RETRY_PERIOD = 1800; // seconds

#define ONBOARD_BUTTON 0
#define ONBOARD_LED 38
#define RELAY_INV 15
#define RELAY_LIGHT 16
#define RELAY_CAM 17
#define RELAY_AUX 18
#define LED_PRIVACY_BUTTON 1
#define PRIVACY_BUTTON 2